.worldGrid{
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
/*   div{
    background:green;
    padding:1em;
  }
  div:nth-child(odd){
    background:red;
  }  */
  
}

#player{
  color: red;
  position:absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.worldNested{
  position:relative;
  
}

.worldCell{
  position:absolute;
}

.worldDiv{
  min-width: 100px;
  min-height: 100px;
  max-height: 100px;  
  max-width: 100px;    
  padding: 13px;
  display: inline-block;
  border:1px solid black;

}


.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  opacity: 1.0;
}