<div class="worldGrid">
  <div></div>
  <div class="worldNested" (click)="mouseClickOverWorld($event)" (click)="mouseLeaveWorld()">
    <div id="player" [ngStyle]="playerStyle"><img (mousemove)="mouseOverPlayer()"  (mouseleave)="mouseLeavePlayer()" src={{playerCurrentImage}}></div>
    <!-- <div routerLink="/cell" class="worldCell" *ngFor="let key of objectKeys(worldCells);"> -->
    <div class="worldCell" *ngFor="let key of objectKeys(worldCells);">
      <img (mousemove)="mouseOver(worldCells[key].id)" (mouseleave)="mouseLeave(worldCells[key].id)" src={{worldCells[key].currentImage}} [ngStyle]="worldCells[key].currentStyle">
    </div>
  </div>
  <div></div>
</div>