@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
  height: 100%;
  margin: 0 auto;
  background-color: black;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

a {
  text-decoration:none;
  color: white;
}


.mainGrid{
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  grid-auto-rows:minmax(100px, auto);   
}




