.homeGrid{
  display:grid;
  grid-template-columns:2fr 1fr 2fr;
  grid-auto-rows:minmax(75px, auto);
  
  /*   div{
      background:green;
      padding:1em;
    }
    div:nth-child(odd){
      background:red;
    } */
    
 }
  
.homeAlignWorldSelection{
  grid-column: 2/3;
  grid-row: 2/4;
  img{
    animation-name: growShrinkAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}


@keyframes growShrinkAnimation {
  0% {width:100%; height: 100%;}
  16% {width:95%; height: 95%;}
  32% {width:90%; height: 90%;}
  48% {width:85%; height: 85%;}
  64% {width:90%; height: 90%;}
  80% {width:95%; height: 95%;}
  100% {width:100%; height: 100%;}
}