.homeGrid{
  display:grid;
  grid-template-columns:2fr 1fr 2fr;
  grid-auto-rows:minmax(75px, auto);
  
  /*   div{
      background:green;
      padding:1em;
    }
    div:nth-child(odd){
      background:red;
    } */
    
 }
  
.homeAlignWorldSelection{
  grid-column: 2/3;
  grid-row: 2/4
}